.tooltip {
    display: inline-block;
    position: relative;
    left: 200px;
    top: 200px;
  }
  
  .tooltip__trigger:hover + .tooltip__bubble {
    display: block;
  }
  
  .tooltip__bubble {
    display: none;
    width: 129px;
    flex-shrink: 0;
    padding: 13px 21px 8px;
    color: var(--grey-2);
    text-align: center;
    /* p */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 10px;
    background: var(--blue);
    /* Card Shadow */
    box-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);
    position: absolute;
    bottom: calc(100% + 12px);
    left: 50%;
    transform: translateX(-46%);
  }
  
  .tooltip__bubble:before {
    content: "";
    border: 12px solid transparent;
    border-bottom-color: var(--blue);
    position: absolute;
    top: 100%;
    left: 40%;
    transform: rotate(180deg);
  }